@model List<TeamViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>personal unvan</th>
        <th>sil</th>
        <th>güncelle</th>
        <th>detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TeamID</td>
            <td>@item.TeamName</td>
            <td>@item.TeamTitle</td>
            <td><a href="#" class="btn btn-danger">SİL</a></td>
            <td><a href="#" class="btn btn-succes">GÜNCELLE</a></td>
            <td><a href="#" class="btn btn-dark">DETAYLAR</a></td>
        </tr>
    }
</table>

<a href="#" class="btn btn-info">Yeni Personel</a>
